/*********************************Page Setup Stuff*******************************************/

a {
    text-decoration: none;
    color: inherit;
}


.monkee-main{
    padding: 0px;
    background-color: #fffce9;
}






/*********************************Custom Buttons********************************************/

button {
    outline: none !important;
}

.button-wrapper {
    display: flex;
    height: 50px;
}

.monkee-button {
    height: 100%;
    text-shadow: none;
    position: relative;
    display: inline-block;
    border: 2px solid;
    border-bottom: 6px solid;
    border-radius: 10px;
    outline: none;
    transition: all 0.1s;

}

.monkee-button:hover {
    top: 3px;
    border-bottom: 4px solid;
}

.monkee-button:active {
    top: 5px;
    border-bottom: 2px solid;
}

/*************************************Button Colours*****************************************/

.white-on-red {
    color: #fff;
    background-color: rgb(239, 8, 20);
    border-color: #151515;
    transition: color, background-color 0.4s ease-in-out;
}

.white-on-red:hover,
.white-on-red:active {
    color: #fffce9;
    border-color: #0e0e0e;
    background-color: rgb(230, 13, 22);
}

.white-on-dblue {
    color: #fff;
    background-color: rgb(31, 40, 79);
    border-color: #58b7d8;
    transition: color, background-color 0.4s ease-in-out;
}

.white-on-dblue:hover,
.white-on-dblue:active {
    color: #fffce9;
    border-color: #58b7d8;
    background-color: rgb(31, 40, 79);
}

.white-on-lblue {
    color: #fffce9;
    border-color: rgb(31, 40, 79);
    background-color: #58b7d8;

    transition: color, background-color 0.4s ease-in-out;
}

.white-on-lblue:hover,
.white-on-lblue:active {
    color: #fffce9;
    border-color: rgb(31, 40, 79);
    background-color: #58b7d8;

}

/*********************************Helper Styles*******************************************/

.end-of-section {
    margin-bottom: 5vh;
}

.off-white {
    color: #fffce9;
}


.dblue-bg {
    background-color: #222a50;
}
.lblue-bg{
     background-color: #4bb7d8;
}

.shadow{
    box-shadow: 0px 6px 10px #1f284f;
}
/*********************************Text Styles*********************************************/

.monkee-font {
    font-family: 'Martel', serif;
    color: #fffce9;

    letter-spacing: -1.2px;
}

.title {
    text-shadow: 4px 4px 2px #1f284f;
    margin-top: 2vh;
    padding: 0 10px;
    font-size: 2.5em;
    text-transform: uppercase;
}

.sub-title {

    text-shadow: 4px 4px 2px #1f284f;
    padding: 0 10px;
    font-size: 1.5em;
}

.text {
    margin: 0 auto;
    text-shadow: 1px 1px 10px #1f284f;
    padding: 0 10px;
    letter-spacing: -1.2px;
    max-width: 60vw;
}



/*********************************Navbar Styles*******************************************/

.monkee-nav-logo {
    height: 4vh;
}

.nav-custom {
    background-color: #222a50;
}

/* change the brand and text color */

.nav-custom .navbar-brand,
.nav-custom .navbar-text {
    color: #fffce9;
}

/* change the link color */

.nav-custom .navbar-nav .nav-link {
    color: rgba(255, 252, 233, 0.7);
}

/* change the color of active or hovered links */

.nav-custom .nav-item.active .nav-link,
.nav-custom .nav-item:hover .nav-link {
    color: rgba(255, 252, 233, 1);
}

.navbar-toggler {
    color: rgba(255, 252, 233, 1);
}

/*********************************Header Styles*******************************************/

.splash {
    background-image: url("../Images/RepeatingBG.jpg");
    background-size: cover;
    padding-top: 4vh;
}

.monkee-hero {
    display: block;
    margin: auto;
    width: 100%;
}

.header-image{
    margin:0 auto;
    width: 100%;
    display: block;
}

@media(min-width:770px) {
    .header-image{
        border-radius:5%;
        width:60%;
    }
}


/*********************************Gigs Styles*******************************************/

.gigs {
    padding-top: 4vh;
    background-color: #fffce9;
    font-family: 'Martel', serif;
    letter-spacing: -1.2px;
}


.tour-logo {
    background-image: url("../Images/TIParts/title.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 5vh;
}


.band {
    background-image: url("../Images/TIParts/Band.png");
    background-repeat: no-repeat;
    background-size: contain;
}


.date {
    text-transform: uppercase;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    padding: 7px;
    border: 3px solid #f40513;
    border-radius: 50%;
    text-align: center;
    color: #f40513;
}

.city-state {
    font-size: 1.5em;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.Venue {
    font-style: italic;
}

.bottom-border {
    height: 4px;
    background-color: #58b7d8;
    margin-bottom: 35px;
    width: 100%
}


@media only screen and (max-width: 768px) {
    .tour-logo {
        height: 25vh;
    }
    .bottom-border {
        width: 40%;
    }
}

/**********************************News Styles********************************************/

.news {
    text-align: center;
}


.news-button {
    font-family: 'Martel', serif;
    letter-spacing: -1.2px;
    border: 2px solid;
    margin-top: 5vh;
    padding: 4px 8px 4px 8px;

}

.merch {
    background-image: url("../Images/merch.jpg");
    background-size: cover;
    color: #fffce9
}

.news-picture-box {
    overflow: hidden;
}

.news-picture-box img {
    width: 100%;
}



.family {
    background-color: #1f284f;
    position: relative;
}



.family::before {
    content: "";
    background: url(../Images/navbar-logo.png);
    background-repeat: no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .news-content {
        height: 360px;
    }
}

/*********************************Mailing List Modal Styles******************************/

.modal-content{
    background-color:#1f284f;
    text-align:center;
}

.modal-body input{
    background-color:#fffce9; 
}
.modal-title{
    margin:0 auto;
    
}

modal-header, modal-footer{
    border:0;
}


/*********************************Media Styles*******************************************/

.new-media {
    text-align: center;
    background-image: url("../Images/greatest-hits-bg.jpg");
    background-repeat: repeat;
    padding: 0;
}

.media-image {
    width: 100%;
}


.button-block {
    margin-top: 5vh;
}

.album-title {
    height: 72px;
}


/*********************************Footer Styles*******************************************/

footer {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: white;
    background-color: black;
}

.social-block {

    display: flex;
    justify-content: center;
}

.social-button {
    font-size: 1.5em;
    position: relative;
    top: 7px;
    height: 4vh;
    color: #fff;
    transition: all .2s;
}

.social-button:hover {
    top: 0px;
    color: #fff;
    font-size: 2em;
    transition: all .2s;
}

/**********************************Bios Page*********************************************/


.bio-content {
    position: relative;
    z-index: 2;
    padding: 2vh;
}

.bio {
    color: #fffce9;
    position: relative;
    background-size: 100%;
}

.bio-img {
    width: 80%;
    margin: auto;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

.peter-mid,
.micky-mid {
    padding-left: 0;
}

.mike-mid,
.davey-mid {
    padding-right: 0;
}

.bio-social {
    height: 5vh;
    margin-bottom: 2vh;
}

.bio-mickey {
    background-color: rgba(0, 0, 0, .9);
}

.bio-mike {
    background-color: #1f284f
}

.bio-peter {
    background-color: #4bb7d8;
}

.bio-Davey {
    background: #dc3545
}


@media (max-width:770px) {
    .bio::after {
        content: "";

        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 1;
    }

    .bio-mickey::after {
        background: url(../Images/Bios/md.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bio-mike::after {
        background: url(../Images/Bios/mn.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bio-peter::after {
        background: url(../Images/Bios/pt.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bio-Davey::after {
        background: url(../Images/Bios/dj.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}
/**********************************Videos Page*********************************************/


.monkee-vid {
    width: 100%;
    height: auto;
    transition: all 0.2s;
}

.monkee-vid:hover, 
.monkee-vid:active{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.vid {
    background-color: #222a50;
}

@media(min-width:770px) {
    .monkee-vid {
        max-width: 450px;
    }
}

/**********************************Music Page*********************************************/

.music-image{
    width:100%;
    height:auto;
}


@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

/*******************************Gallery Styles******************************************/

.img-frame {
    padding: 0px;
    height: 30vh;
    overflow: hidden;
}
.pic-box{
    background-color:#222a50;
    padding:5vh 0;
}

.pic-box a{
    width:100%;
    overflow:hidden;
    border:4px;solid #fffce9;
    margin-bottom:1vh;
}
.gallery-image {
    width:100%;
    display: block;
    /* no whitespace */
    transition: .3s ease-in-out;
}


.gallery-image:hover,
.gallery-image:active {
    transform: scale(1.2);
}

@media(min-width:770px) {
    .pic-box a{
       width:auto;
       height:25vh;
       border-radius:1px;
       border:5px solid white; 
}
.gallery-image {
    width:auto;
    height:25vh; 
    }
}


/*******************************Form Styles******************************************/




.form-container label {
    font-family: 'Martel', serif;
    background-color: #222a50;
    color: #fffce9;
    font-size: 1.2rem;
    margin-bottom: 2vh;
}

.form-control{
    background-color:#fffce9;
    color:#222a50;
}

.form-control:focus{
    background-color:#fffce9;
    border:4px solid #4b8caa
}
.monkee-form {
    padding: 0 10%;
}

.form-button {
    margin-top: 5%;
}

.form-row {
    padding: 0 10%;
    margin-bottom: 5vh;
}
