/*********************************All Page Stuff*******************************************/
a{
    text-decoration: none;
    color: inherit;
}

/*********************************Helper Styles*******************************************/

.end-of-section{
    margin-bottom:5vh;
}

/*********************************Navbar Styles*******************************************/
.monkee-nav-logo{
    height:7vh;
}


/*********************************Header Styles*******************************************/
.splash{
    height:60vh;
    background-image: url("../Images/monkeesplash.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; 
    background-size: cover;
}

.monkee-logo-hero{
    margin-top:15vh;
    height:40vh;
}

/*********************************Gigs Styles*******************************************/
.gigs{
    padding-top:4vh;
    background-color:#fffce9;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
}

@media only screen and (max-width: 600px) {
    .tour-logo{
       height:25vh; 
    }
    .bottom-border{
        width:40%;
    }
}

.tour-logo{
     background-image: url("../Images/TIParts/title.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size:90% 100%;
     margin-bottom:5vh;
}

.band{
    background-image: url("../Images/TIParts/Band.png");
    background-repeat: no-repeat;
    background-size:contain;
}


.date{
    text-transform: uppercase;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    padding: 7px;
    border:3px solid #f40513;
    border-radius: 50%;
    text-align:center;
    color:  #f40513;
}

.city-state{
    font-size: 1.5em;
    margin-bottom:0px;
    text-transform: uppercase;
}

.Venue{
    font-style: italic;
}

.bottom-border{
    height:4px;
    background-color:#58b7d8;
    margin-bottom: 35px;
    width:100%
}

.gig-button:link{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}


.gig-button:visited{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

.gig-button:hover{
    color: #fffce9;
    background-color:#58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

.gig-button:active{
    color: #fffce9;
    background-color:#58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

/**********************************News Styles********************************************/

.news{
    text-align:center;
}

.News-title{
    margin-top:5vh;
    padding: 0 10px;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    font-size:2.5em;
    text-transform: uppercase;
}

.News-Summary{
    padding: 0 10px;
    margin-top:5vh;
    margin-bottom:5vh;
}

.news-button{
    border:2px solid;
    margin-top: 5vh;
    padding: 4px 8px 4px 8px;

}
.merch{
    background-image:url("../Images/merch.jpg");
    background-size:cover;
    color: #fffce9
}

.family{
    background-color:#1f284f;
    color:#58b7d8;
    position: relative;
}


.family::after{
    content: "";
    background: url(../Images/navbar-logo.png);
    background-repeat:no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}


/*********************************Media Styles*******************************************/

.new-media{
    text-align: center;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
}
.video{
    color:#9e1219;
    background-color:#fffce9;
    padding:0;
}

.audio{
    color: #1f284f;
    background-color:#019bb5;
    padding:0;
}

.videoframe{
    height:40vh;
    margin-bottom: 5vh;
}
.audio-c{
    margin-bottom:5vh;
}
.media-title{
    text-transform:uppercase;
    font-size:2em;
    margin-top: 5vh;
    }

.media-sub-title{
    font-size:1.5em;
    margin-bottom: 5vh;
    }

.media-image{
    max-height: 40vh;
}

.media-vid{
    display:block;
    height:100%;
    width:100%;
    margin-bottom: 5vh;
}

.media-button{
    color: inherit;
    border: 2px solid;
    padding: 0 4px 0 4px;
}



/*********************************Footer Styles*******************************************/
footer{
    padding-top:8vh;
    height:20vh;
    color:white;
    background-color:black;
}