/*********************************All Page Stuff*******************************************/
a{
    text-decoration: none;
    color: inherit;
}

/*********************************Helper Styles*******************************************/

.end-of-section{
    margin-bottom:5vh;
}

/*********************************Navbar Styles*******************************************/
.monkee-nav-logo{
    height:4vh;
}
.nav-custom {
    background-color: #222a50;
}
/* change the brand and text color */
.nav-custom .navbar-brand,
.nav-custom .navbar-text {
    color: #fffce9;
}
/* change the link color */
.nav-custom .navbar-nav .nav-link {
    color: rgba(255, 252, 233, 0.7);
}
/* change the color of active or hovered links */
.nav-custom .nav-item.active .nav-link,
.nav-custom .nav-item:hover .nav-link {
    color: rgba(255, 252, 233, 1);
}
.navbar-toggler{
    color: rgba(255, 252, 233, 1);
}
/*********************************Header Styles*******************************************/


.splash{
    background-image: url("../Images/RepeatingBG.jpg");
    background-size: cover;
    text-align:center;
    padding-top:4vh;
    letter-spacing: -1.2px;
    text-align: center;
}

.monkee-hero{
     background-image: url("../Images/monkees-hero.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size:100% 100%;
     height: 20vh;
    
}

@media only screen and (min-width: 1200px){
    .monkee-hero{
        background-size:80% 80%;
}
    
}

.header-title{
    font-family:'Martel', serif;
    color:#fffce9;
    text-shadow: 4px 4px 2px #1f284f;
    margin-top:2vh;
    padding: 0 10px;
    letter-spacing: -1.2px;
    font-size:2.5em;
    text-transform: uppercase;
}

.header-sub-title{
    color:#fffce9;
    text-shadow: 4px 4px 2px #1f284f;
    padding: 0 10px;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    font-size:1.5em;
}

.header-text{
    color:#fffce9;
    text-shadow: 1px 1px 10px #1f284f;
    padding: 0 10px;
    letter-spacing: -1.2px;
    font-size:0.9em;
}

.header-button{
     font-family:'Martel', serif;
}

.header-button:link{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}


.header-button:visited{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}

.header-button:hover{
    color: #65a4a9;
    background-color:#fffce9;
    border: 2px solid #65a4a9;
    padding: 0 4px 0 4px;
}

.header-button:active{
    color:#65a4a9;
    background-color:#fffce9;
    border: 2px solid #65a4a9;
    padding: 0 4px 0 4px;
}

/*********************************Gigs Styles*******************************************/
.gigs{
    padding-top:4vh;
    background-color:#fffce9;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
}


.tour-logo{
     background-image: url("../Images/TIParts/title.png");
     background-repeat: no-repeat;
     background-position: center;
     background-size:90% 100%;
     margin-bottom:5vh;
}


.band{
    background-image: url("../Images/TIParts/Band.png");
    background-repeat: no-repeat;
    background-size:contain;
}


.date{
    text-transform: uppercase;
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
    padding: 7px;
    border:3px solid #f40513;
    border-radius: 50%;
    text-align:center;
    color:  #f40513;
}

.city-state{
    font-size: 1.5em;
    margin-bottom:0px;
    text-transform: uppercase;
}

.Venue{
    font-style: italic;
}

.bottom-border{
    height:4px;
    background-color:#58b7d8;
    margin-bottom: 35px;
    width:100%
}

.gig-button:link{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}


.gig-button:visited{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

.gig-button:hover{
    color: #fffce9;
    background-color:#58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

.gig-button:active{
    color: #fffce9;
    background-color:#58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

@media only screen and (max-width: 768px) {
    .tour-logo{
       height:25vh; 
    }
    .bottom-border{
        width:40%;
    }
}

/**********************************News Styles********************************************/

.news{
    text-align:center;
}

.News-title{
    margin-top:5vh;
    padding: 0 10px;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    font-size:2.5em;
    text-transform: uppercase;
}

.News-sub-title{
    padding: 0 10px;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    font-size:1.7em;
    text-transform: uppercase;
}

.News-Summary{
    padding: 0 10px;
    margin-top:5vh;
    margin-bottom:5vh;
}

.news-button{
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    border:2px solid;
    margin-top: 5vh;
    padding: 4px 8px 4px 8px;

}
.merch{
    background-image:url("../Images/merch.jpg");
    background-size:cover;
    color: #fffce9
}

.shirts{
    background-image:url("../Images/shirts.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}
    
.mail{
    background-image:url("../Images/fanmail.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
}

.family{
    background-color:#1f284f;
    color:#58b7d8;
    position: relative;
}
.fanmail{
    position:relative;
    max-width:50vw;
    min-height:80%;
    z-index: 2;
    top: 5vh;
}


.family::before{
    content: "";
    background: url(../Images/navbar-logo.png);
    background-repeat:no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}


.merch-button:link{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}


.merch-button:visited{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}

.merch-button:hover{
    color: #23262f;
    background-color:#fffce9;
    border: 2px solid #23262f;
    padding: 0 4px 0 4px;
}

.merch-button:active{
    color: #23262f;
    background-color:#fffce9;
    border: 2px solid #23262f;
    padding: 0 4px 0 4px;
}

.fans-button:link{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}


.fans-button:visited{
    color: #58b7d8;
    border: 2px solid #58b7d8;
    padding: 0 4px 0 4px;
}

.fans-button:hover{
    color: #1f284f;
    background-color:#58b7d8;
    border: 2px solid #1f284f;
    padding: 0 4px 0 4px;
}

.fans-button:active{
    color: #1f284f;
    background-color:#58b7d8;
    border: 2px solid #1f284f;
    padding: 0 4px 0 4px;
}

/*********************************Media Styles*******************************************/

.new-media{
    text-align: center;
}
.video{
    color:#fffce9;
    text-shadow: 3px 3px #1f284f;
    background-image: url("../Images/greatest-hits-bg.jpg");
    background-repeat: repeat;
    padding:0;
}

.media-title{
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    text-transform:uppercase;
    font-size:2.5em;
    margin-top: 5vh;
    }

.media-sub-title{
    height:5vh;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    font-size:1.5rem;
    margin-bottom: 5vh;
    }

.media-image{
    height: 30vh;
}


.media-button{
    text-shadow: none;
    font-family:'Martel', serif;
    letter-spacing: -1.2px;
    color: inherit;
    border: 2px solid;
    padding: 0 4px 0 4px;
    margin-bottom:2vh;
}

.button-block{
    margin-top:5vh;
}

.media-button:link{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}


.media-button:visited{
    color: #fffce9;
    border: 2px solid #fffce9;
    padding: 0 4px 0 4px;
}

.media-button:hover{
    color: #4bb7d8;
    background-color:#fffce9;
    border: 2px solid #4bb7d8;
    padding: 0 4px 0 4px;
}

.media-button:active{
   color: #4bb7d8;
    background-color:#fffce9;
    border: 2px solid #4bb7d8;
    padding: 0 4px 0 4px;
}


/*********************************Footer Styles*******************************************/
footer{
    padding-top:8vh;
    height:20vh;
    color:white;
    background-color:black;
}

.social-block{
    display:flex;
    justify-content: center;
}

.social-button{
    height:4vh;
    color:#fff;
    transition: all .2s;
}

.social-button:hover{
    color:#fff;
    font-size: 1.2em;
    transition: all .2s;
}

/**********************************Bios Page*********************************************/
.monkee-band-bio{
    background-image:url(../Images/splash-Image.jpg);
    height:30vh;
    background-size:100% 100%;
    margin-bottom: 2vh;

}

.bios-main{
    padding:0px;
    background-color: #fffce9;
}

.bio-content{
    position:relative;
    z-index:2;
    padding:2vh;
}

.bio{
    color:#fffce9;
    position:relative;
    background-size: 100% 100%;
}

.bio-title{
    font-family:'Martel', serif;
    font-size:2em;
    letter-spacing: -1.2px;
    text-shadow:4px 4px 4px #1f284f;
}

.bio-sub-title{
    font-family:'Martel', serif;
    font-size:1.25em;
    font-style:italic;
    letter-spacing: -1.5px;
    text-shadow:4px 4px 4px #1f284f;
}

.bio-img{
    height:100%;
    }

.peter-mid, .micky-mid{
    padding-left:0;
}

.mike-mid, .davey-mid{
    padding-right:0;
}

.bio-social{
    height:5vh;
    margin-bottom:2vh;
}

.bio-mickey{
        background-color:rgba(0,0,0,.9);
    } 
.bio-mike{
        background-color:#1f284f
    } 
.bio-peter{
        background-color: #4bb7d8;
    } 
.bio-Davey{
        background: #dc3545
    } 


@media (max-width:770px)  { 
    .bio::after{
    content: "";
    
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index:1;
    }

    .bio-mickey::after{
        background: url(../Images/Bios/md.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    } 
       .bio-mickey::after{
        background: url(../Images/Bios/md.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    } 
     .bio-mike::after{
        background: url(../Images/Bios/mn.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    } 
    .bio-peter::after{
        background: url(../Images/Bios/pt.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    } 
     .bio-Davey::after{
        background: url(../Images/Bios/dj.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    } 
}